<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Votes

    <a data-toggle="collapse" href="#question_votes_new_form">
      Add vote
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @question.votes.each do |vote| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to vote, vote %>

        <% if current_user == vote.voter %>
          <%= link_to vote, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="question_votes_new_form">
        <%= render partial: "questions/question_votes_new_form" %>
      </div>
    </div>

  </ul>
</div>
