<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @question, partial: "card", as: :question %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "questions/question_votes" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "questions/question_question_assessments" %>
  </div>
</div>
  <!-- Show Page Customization end -->
