<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Question Assessments

    <a data-toggle="collapse" href="#question_session_question_assessments_new_form">
      Add question assessment
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @question_session.question_assessments.each do |question_assessment| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to question_assessment, question_assessment %>

        <% if current_user == question_assessment.interviewee %>
          <%= link_to question_assessment, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="question_session_question_assessments_new_form">
        <%= render partial: "question_sessions/question_session_question_assessments_new_form" %>
      </div>
    </div>

  </ul>
</div>
