<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @question_session, partial: "card", as: :question_session %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "question_sessions/question_session_question_assessments" %>
  </div>
</div>
